nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #9707b0;
	padding: 20px;
  }
  
  nav .logo a {
	font-size: 1.5rem;
	text-decoration: none;
	color: #333;
  }
  
  nav .nav-links {
	display: flex;
	list-style: none;
  }
  
  nav .nav-links li {
	margin: 0 10px;
  }
  
  nav .nav-links li a {
	text-decoration: none;
	color: #333;
  }
  