.glass{
    height: 97%;
    position: relative;
}

.profile_img{
    @apply w-40 cursor-pointer;
}

.textbox{
    @apply w-3/4;
}

.label{
    text-align: center;
    font-size: smaller;
    color: #ff6a6a;
}

.btnsmall{
    @apply  bg-indigo-500 w-3/4 py-4 px-4 rounded-lg text-gray-50 text-xl shadow-sm text-center cursor-pointer;
}

.btnsmall:hover{
    background-color: #ff6a6a;
}

.chefform{
    @apply w-3/4 gap-5 pt-4 pb-4 grid;
    border-top: 5px solid #ff6a6a;
    border-bottom: 5px solid #ff6a6a;
    border-top-width: 2px;
    border-bottom-width: 2px;
}

.btnremove{
    @apply py-4 px-4 rounded-lg text-gray-50 text-xl shadow-sm text-center cursor-pointer;
    background-color: #ff6a6a;
}

.btnremove:hover{
    @apply bg-indigo-500
}

.profilebookmark {
    color: white;
    @apply flex gap-1 py-1 px-2 text-center rounded-xl shadow-sm text-center cursor-pointer;
    text-align: center;
    justify-content: center;
    background-color: #ff6a6a;
    border: 1px solid #ff6f69;

  }
  
  .profilebookmark:hover {
    color: #ff6a6a;
    background-color: white;
    border: 1px solid #ff6f69;
  }

  .profilebookmarkicon {
    @apply pt-1 pb-1 flex;
    font-size: x-large;
  }